/*
Plugin Name: (SPYR) Network Bar
Author: Spyr Media
Author URI: http://spyr.me
*/

/*** Plugin Options Page */
#spyr_bar_options { font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial",sans-serif;margin:10px;width:580px }
#spyr_bar_options a { color:#ec008c;text-decoration:none; }
#spyr_bar_options a:hover { text-decoration:underline; }
#spyr_bar_options .option_heading { border-bottom:1px dashed #d5d5d5;display:block;margin:25px 0 28px 0;padding:0 10px 16px 10px; }
#spyr_bar_options .options-form { padding-left:10px;}
#spyr_bar_options .option_wrap { margin:0; }
#spyr_bar_options .option_item { margin:0 0 15px 0;padding:0 10px 15px 10px; }
#spyr_bar_options .option_wrap .option_item:last-child {  }
#spyr_bar_options .option_title { border-right:1px dotted #ccc;float:left;font-size:23px;font-weight:normal;line-height:29px;margin:0 15px 0 0;padding:0 15px 4px 0;text-shadow:0 1px 0 #fff; }
#spyr_bar_options .option_title,#spyr_bar_options .option_title a { color:#333; }
#spyr_bar_options .left_text { float:left;margin:8px 30px 8px 50px; }
#spyr_bar_options .option_description { color:#888;font-size:11px;font-style:italic;line-height:150%; }
#spyr_bar_options .regular-text { width:558px; }
#spyr_bar_options .checkbox { background:transparent;float:left;font-size:14px;line-height:34px;margin:0 15px 0 10px;padding:0 15px 0 0; }
#spyr_bar_options .checkbox label { vertical-align:top; }
#spyr_bar_options select { float:left;margin-right:16px;width:558px; }
#spyr_bar_options .submit { clear:both;margin:0 0 35px 0;padding:0 10px;text-align:center;width:558px; }
#spyr_bar_options .submit input[type="submit"] { border-radius:5px;color:#555;font-size:11px !important;font-weight:bold;padding:10px 12px;width:200px; }
#spyr_bar_options .submit input[type="submit"]:hover { border-color:#bbb;box-shadow:0 0 4px #ccc; }
#spyr_bar_options .divider { border-top:1px solid #DFDFDF;clear:both;margin:0 0 20px 0;width:550px; }
#spyr_bar_options .option_note_area { display:none;height:0;margin:0;padding:0; }
#spyr_bar_options .option_updated { margin:5px 10px 10px 10px;padding:15px 0;text-align:center; }
#spyr_bar_options .option_updated h4 { margin:0 0 5px 0; }

/*** Texture Preview */
#spyr_bar_preview { background-color:#063a62;background-position:left bottom;background-repeat:repeat;border:1px solid #fff;box-shadow:0 0 1px #ccc;color:rgba(255,255,255,0.8);float:left;height:40px;padding:4px 0 0 0;text-align:center;text-shadow:1px 1px 0 #000;width:150px; }